*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  border: 2px solid goldenrod;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.items {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(119, 119, 119, 0.445);
}

.item li {
  flex: 1;
  margin-left: 5px;
  text-align: start;
}

.complete {
  text-decoration: line-through;
}
h1 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

button {
  padding: 8px;
  background: none;
  outline: none;
  border: none;
}

input[type="text"] {
  height: 34px;
  margin: 10px 0 10px 10px;
}

.btn {
  border: 1px solid salmon;
}
